<html>
    <head>
        <meta charset="utf-8">
        <title>Top SPIEGEL nouns of {{ date }}</title>
        <link rel="stylesheet" href="static/text.css">
    </head>
    <ol>
    {% for top in tops -%}
      <li>
        <div>
            {{ top['translation']['original'] }}
            {% set gender = top['translation']['gender'] -%}
            {% set type = top['translation']['type'] -%}
            {% set gender = gender if gender else ('?' if type == 'noun' else '') -%}
            <span class=dictionary-mark>{{ gender }}</span>
        </div>
        <div class=word-type>{{ type }}</div>
        <ol>
            {% for translation in top['translation']['translations'] -%}
            <li>
                <div>
                    <span class=dictionary-meaning>{{ translation['text'] }}</span>
                </div>
                {% set examples = translation.get('example') -%}
                {% set examples = examples if examples else [] -%}
                {% for example in examples -%}
                <div>
                    <span class=dictionary-example>{{ example }}</span>
                </div>
                {% endfor -%}
            </li>
            {% endfor -%}
        </ol>

      </li>
    {% endfor -%}
    </ol>
</html>