<html>
    <head>
        <meta charset="utf-8">
        <title>Top SPIEGEL nouns of {{ date }}</title>
    </head>
    <ol>
    {% for top in tops -%}
      <li>
        <div>
            {{ top['translation']['original'] }}
            <span>{{ top['translation']['gender'] }}</span>
        </div>
        <div >{{ top['translation']['type'] }}</div>
        <ol>
            {% for translation in top['translation']['translations'] -%}
            <li>
                <div>
                    <span>{{ translation['text'] }}</span>
                </div>
                {% set examples = translation.get('example') -%}
                {% set examples = examples if examples else [] -%}
                {% for example in examples -%}
                <div>
                    <span>{{ example }}</span>
                </div>
                {% endfor -%}
            </li>
            {% endfor -%}
        </ol>

      </li>
    {% endfor -%}
    </ol>
</html>